html {
	padding: 100px;
	background: linear-gradient(360deg, white 0%, rgba(251, 134, 255, 0.30344) 100%);
	background-repeat: no-repeat;
}

body {
	margin: auto;
	max-width: 800px;
	-webkit-transform: scale(0.80);
       -moz-transform: scale(0.80);
        transform: scale(0.80);
}

.profile-pic img {
	display: block;
	max-height: 200px;
	border-radius: 50%;
	border: solid 3px #0C1F53;
	margin: 0 auto;
	margin-bottom: 50px;
}

.name {
	font-family: "Quicksand", sans-serif;
	font-size: 40px;
	text-align: center;
}

.link-container {
	display: block;
}

.link-container a {
	text-decoration: none;
	color: #171738;
	font-family: "Quicksand", sans-serif;
	font-size: 25px;
}

.link-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.link-container a:hover {
	text-decoration: underline;
	color: #72ddf7;
}

.link-box {
	max-width: 300px;
	text-align: center;
	border-bottom: solid 2px #0C1F53;
	padding: 10px;
	margin: 20px auto;
}

.social-banner {
	text-align: center;
}

.social-banner img {
	margin-top: 35px;
	margin: 0 auto;
	padding: 20px;
	max-width: 20px;
}

.social-banner img:hover {
	opacity: 75%;
}
